@import "tailwindcss";

@theme {
  --color-brand-primary: #f06a23;
  --color-brand-secondary: #bae64b;
  --color-brand-accent: #f04e23;
  --color-brand-dark: #ffffff;
  --color-brand-light: #111827;
  
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular, monospace;
}

@layer base {
  body {
    @apply bg-brand-dark text-brand-light font-sans;
  }
}

